footer.footer
    .container.footer__inner
        .footer__top
            .footer__top__left
                div Drop us a line or two,
                    br
                    | we are open collaborations!
                .mail info@longangroup.net

            .footer__top__right
                include ../blocks/menu-block

                .location
                    .item.address
                        .item__title Office
                        .item__subtitle LONGAN GROUP LTD
                        .item__text
                            | Reg No 43453566
                            br
                            | Reg address 03189, Kyiv,
                            br
                            | Williams str 8E

                    .item.contacts
                        .item__title Contact us
                        a.item__text.mail(href="mailto:info@longangroup.net") info@longangroup.net
                        a.item__text.number(href="tel:+380506041832") +380 50 604 1832




        .footer__bottom
            include ../blocks/logo-block
            .footer__text
                a.privacy__link(href="#") Privacy policy
                .copy ©2021 All right reserved.




//        .footer__top
//            .footer__column
//                .footer__logo
//                    a(href="/")
//                        img(src="images/logo.svg")
                .footer__text_upper
                    | RUSSIA, SANKT-PETERBURG g, BOLSHAYA PUSHKARSKAYA 22, LITER A, POM 415
                    br
                    br
                    | INN 7813649651
//            .footer__column
//                a(href="backend").footer__title Backend Development
//                .footer__link C++
//                .footer__link NodeJS
//                .footer__link GoLang
//            .footer__column
//                a(href="databases").footer__title Databases
//                .footer__link MySQL
//                .footer__link PostgreSQL
//                .footer__link TimescaleDB
//            .footer__column
//                a(href="support").footer__title Support
//                .footer__link Technical Support
//            .footer__column
//                a(href="contacts").footer__title Get in touch
//                .footer__link Contacts
//        .footer__bottom
//            p.footer__text OOO "SOFTWARE TECHNOLOGIES AND SUPPORT"
//            p.footer__text This website is published by Limited Liability Company “B2B Technology and Marketing” (hereinafter – The Company”) registered in Russian Federation (No 1167746680375) with principal place of business in Moscow, Presnenskaya Embankment 12, Office No A17-017.
//                br
//                | The Company is certified with the Ministry of Digital Development, Communications and Mass Media of the Russian Federation (https://digital.gov.ru/opendata/7710474375-registergosaccred/) as a National IT Company.
//                br
//                | The information contained on the Site is for information purposes only. The Company does not hold itself out as providing any services via this Website.
//                br
//                | Products and services described in this Website may be delivered by The Company or its affiliates and agents in accordance with local regulations and contracts with any specific party. The Company may alter products, services and prices described in this Website at any time without notice. The Company does not warrant the accuracy of the material on this Website nor is the Company is obliged to keep all material on this Website up-to-date.
//                br
//                | The Company does not not represent or warrant that the Website will be available or that it will meet your requirements, that access will be uninterrupted, that there will be no delays, failures, errors or omissions or loss of transmitted information, that no viruses or other contaminating or destructive properties will be transmitted or that no damage will occur to your computer system. You have sole responsibility for adequate protection and back up of data and/or equipment and for undertaking reasonable and appropriate precautions to scan for computer viruses or other destructive properties.
//                br
//                | The Company, any other party (whether or not involved in creating, producing maintaining or delivering this Website), and any of the Company's affiliates and the officers, directors, employees, shareholders or agents of any of them, exclude all liability and responsibility for any amount or kind of loss or damage that may result to you or a third party (including without limitation, any direct, indirect, punitive or consequential loss or damages, or any loss of income, profits, goodwill, data, contracts, use of money, or loss or damages arising from or connected in any way to business interruption, and whether in tort (including without limitation negligence), contract or otherwise)) in connection with this Website in any way or in connection with the use, inability to use or the results of use of this Website, any Websites linked to this Website or the material on such Websites, including but not limited to loss or damage due to viruses that may infect your computer equipment, software, data or other property on account of your access to, use of, or browsing this Website or your downloading of any material from this Website or any Websites linked to this Website.
//                br
//                | All information gathered from you in connection with your use of this Website will be maintained in accordance with the applicable laws and regulations.
//                br
//                | Copyright in the pages, screens, information, and all material in their arrangement, included in this Website is owned by the Company or its affiliates. You may imprint, copy, download or temporarily store extracts from the Website for your personal information. You may not alter or otherwise make any changes to any material that you print or download from the Website, including, without limitation, removing any identifying marks or legends from such material. You may not distribute these materials to others. Any other use is prohibited unless you first request and obtain our written permission. In particular, no one may use a part of the Website on any other website, or link any other website to the Website, without prior written permission of the Company.
//
//
