section.main-screen
    .container.main-screen__inner
        h1.title-main Group of professionals from FinTech sphere
        .subtitle We are group of professionals from FinTech sphere, who provides services for different companies from different jurisdictions.

        include ../blocks/form_small-block