section.solutions
    .container
        h2.title The best services for your company

        .box
            .box__item
                .box__item__title Legal Services
                .box__item__text We provide services for the international companies
                a.box__item__link(href="#") Learn more
                    svg(width='13' height='12' viewbox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6.51508 1.06879C6.58746 0.996214 6.67346 0.938637 6.76813 0.899351C6.86281 0.860065 6.9643 0.839844 7.06681 0.839844C7.16931 0.839844 7.2708 0.860065 7.36548 0.899351C7.46015 0.938637 7.54615 0.996214 7.61854 1.06879L12.2942 5.74446C12.3668 5.81685 12.4244 5.90285 12.4636 5.99752C12.5029 6.0922 12.5232 6.19369 12.5232 6.29619C12.5232 6.39869 12.5029 6.50019 12.4636 6.59486C12.4244 6.68954 12.3668 6.77553 12.2942 6.84792L7.61854 11.5236C7.47221 11.6699 7.27374 11.7521 7.06681 11.7521C6.85987 11.7521 6.6614 11.6699 6.51508 11.5236C6.36875 11.3773 6.28654 11.1788 6.28654 10.9719C6.28654 10.7649 6.36875 10.5665 6.51508 10.4201L10.6406 6.29619L6.51508 2.17225C6.4425 2.09986 6.38493 2.01386 6.34564 1.91919C6.30635 1.82451 6.28613 1.72302 6.28613 1.62052C6.28613 1.51801 6.30635 1.41652 6.34564 1.32184C6.38493 1.22717 6.4425 1.14117 6.51508 1.06879Z' fill='#23242A')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.0527344 6.29686C0.0527344 6.09018 0.134837 5.89197 0.28098 5.74582C0.427123 5.59968 0.625336 5.51758 0.832014 5.51758H10.9626C11.1693 5.51758 11.3675 5.59968 11.5137 5.74582C11.6598 5.89197 11.7419 6.09018 11.7419 6.29686C11.7419 6.50354 11.6598 6.70175 11.5137 6.84789C11.3675 6.99404 11.1693 7.07614 10.9626 7.07614H0.832014C0.625336 7.07614 0.427123 6.99404 0.28098 6.84789C0.134837 6.70175 0.0527344 6.50354 0.0527344 6.29686Z' fill='#23242A')


            .box__item
                .box__item__title Accounting Services
                .box__item__text We help international companies function more efficiently with comprehensive accounting services that enable a deep insight into business functions.
                a.box__item__link(href="#") Learn more
                    svg(width='13' height='12' viewbox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6.51508 1.06879C6.58746 0.996214 6.67346 0.938637 6.76813 0.899351C6.86281 0.860065 6.9643 0.839844 7.06681 0.839844C7.16931 0.839844 7.2708 0.860065 7.36548 0.899351C7.46015 0.938637 7.54615 0.996214 7.61854 1.06879L12.2942 5.74446C12.3668 5.81685 12.4244 5.90285 12.4636 5.99752C12.5029 6.0922 12.5232 6.19369 12.5232 6.29619C12.5232 6.39869 12.5029 6.50019 12.4636 6.59486C12.4244 6.68954 12.3668 6.77553 12.2942 6.84792L7.61854 11.5236C7.47221 11.6699 7.27374 11.7521 7.06681 11.7521C6.85987 11.7521 6.6614 11.6699 6.51508 11.5236C6.36875 11.3773 6.28654 11.1788 6.28654 10.9719C6.28654 10.7649 6.36875 10.5665 6.51508 10.4201L10.6406 6.29619L6.51508 2.17225C6.4425 2.09986 6.38493 2.01386 6.34564 1.91919C6.30635 1.82451 6.28613 1.72302 6.28613 1.62052C6.28613 1.51801 6.30635 1.41652 6.34564 1.32184C6.38493 1.22717 6.4425 1.14117 6.51508 1.06879Z' fill='#23242A')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.0527344 6.29686C0.0527344 6.09018 0.134837 5.89197 0.28098 5.74582C0.427123 5.59968 0.625336 5.51758 0.832014 5.51758H10.9626C11.1693 5.51758 11.3675 5.59968 11.5137 5.74582C11.6598 5.89197 11.7419 6.09018 11.7419 6.29686C11.7419 6.50354 11.6598 6.70175 11.5137 6.84789C11.3675 6.99404 11.1693 7.07614 10.9626 7.07614H0.832014C0.625336 7.07614 0.427123 6.99404 0.28098 6.84789C0.134837 6.70175 0.0527344 6.50354 0.0527344 6.29686Z' fill='#23242A')

