section.step_by_step
    .container
        h2.title Step by step
        .subtitle Every Business is Unique. Find Out How We Can Help Yours.

        .box
            .box__item
                img.box__item__icon(src="images/step/step-1.svg")
                .box__item__title Application
                .box__item__text Let's talk about how we can help your business. Contact our team.

            img.box__icon(src="images/step/step-up-line.svg")

            .box__item
                img.box__item__icon(src="images/step/step-2.svg")
                .box__item__title Analysys
                .box__item__text We will make an analysis of your situation with the best tools and resources.

            img.box__icon(src="images/step/step-botton-line.svg")

            .box__item
                img.box__item__icon(src="images/step/step-3.svg")
                .box__item__title Solution
                .box__item__text We will find a comprehensive and effective solution for your company.