section.what_we_do
    .container
        h2.title What we do
        .subtitle We provide services for international companies  from different jurisdictions with high-quality legal services.

        .box
            .box__item
                svg(width='19' height='21' viewbox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M2.5918 1.85938C2.39288 1.85938 2.20212 1.93839 2.06147 2.07904C1.92081 2.2197 1.8418 2.41046 1.8418 2.60938V18.1094C1.8418 18.5234 2.1778 18.8594 2.5918 18.8594H6.3718C6.26847 19.3755 6.36497 19.9117 6.6418 20.3594H2.5918C1.99506 20.3594 1.42276 20.1223 1.00081 19.7004C0.57885 19.2784 0.341797 18.7061 0.341797 18.1094V2.60938C0.341797 2.01264 0.57885 1.44034 1.00081 1.01838C1.42276 0.596428 1.99506 0.359375 2.5918 0.359375H8.6778C9.1418 0.359375 9.5868 0.543375 9.9148 0.872375L15.8288 6.78638C16.1578 7.11438 16.3418 7.55937 16.3418 8.02337V8.35938H16.2118C16.1012 8.35384 15.9904 8.35384 15.8798 8.35938H10.3418C9.81136 8.35938 9.30266 8.14866 8.92758 7.77359C8.55251 7.39852 8.3418 6.88981 8.3418 6.35938V1.85938H2.5918ZM9.8418 2.91937V6.35938C9.8418 6.49198 9.89447 6.61916 9.98824 6.71293C10.082 6.8067 10.2092 6.85938 10.3418 6.85938H13.7818L9.8418 2.91937Z' fill='#745EF9')
                    path(d='M16.0552 9.35938H16.0572C16.5091 9.35975 16.9508 9.49406 17.3264 9.74534C17.702 9.99661 17.9947 10.3536 18.1675 10.7711C18.3404 11.1887 18.3855 11.6481 18.2974 12.0914C18.2092 12.5346 17.9917 12.9417 17.6722 13.2614L11.7702 19.1634C11.4263 19.5077 10.9953 19.7521 10.5232 19.8704L8.69219 20.3274C8.51012 20.3728 8.31937 20.3704 8.13852 20.3203C7.95767 20.2702 7.79287 20.1741 7.66017 20.0414C7.52747 19.9087 7.43139 19.7439 7.38127 19.563C7.33116 19.3822 7.32872 19.1914 7.37419 19.0094L7.83119 17.1794C7.94919 16.7064 8.19319 16.2754 8.53819 15.9314L14.4402 10.0294C14.652 9.81684 14.9037 9.64824 15.1809 9.53326C15.458 9.41828 15.7551 9.35919 16.0552 9.35938Z' fill='#745EF9')

                .box__item__title Changes in agreements
                .box__item__text Changes to the structure of agreements, preparation for Due-diligence, preparation of the first drafts of agreements and documents

            .box__item
                svg(width='26' height='20' viewbox='0 0 26 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.58333 3.52604C1.58333 3.10612 1.75015 2.70339 2.04708 2.40646C2.34401 2.10952 2.74674 1.94271 3.16667 1.94271H3.95833C4.1683 1.94271 4.36966 1.8593 4.51813 1.71083C4.66659 1.56237 4.75 1.361 4.75 1.15104C4.75 0.941079 4.66659 0.739715 4.51813 0.591249C4.36966 0.442783 4.1683 0.359375 3.95833 0.359375H3.16667C2.32681 0.359375 1.52136 0.693005 0.927495 1.28687C0.33363 1.88074 0 2.68619 0 3.52604V4.31771C0 4.52767 0.0834077 4.72903 0.231874 4.8775C0.38034 5.02597 0.581704 5.10938 0.791667 5.10938C1.00163 5.10938 1.20299 5.02597 1.35146 4.8775C1.49993 4.72903 1.58333 4.52767 1.58333 4.31771V3.52604Z' fill='#745EF9')
                    path(d='M3.16667 17.776C2.74674 17.776 2.34401 17.6092 2.04708 17.3123C1.75015 17.0154 1.58333 16.6126 1.58333 16.1927V15.401C1.58333 15.1911 1.49993 14.9897 1.35146 14.8412C1.20299 14.6928 1.00163 14.6094 0.791667 14.6094C0.581704 14.6094 0.38034 14.6928 0.231874 14.8412C0.0834077 14.9897 0 15.1911 0 15.401V16.1927C0 17.0326 0.33363 17.838 0.927495 18.4319C1.52136 19.0257 2.32681 19.3594 3.16667 19.3594H3.95833C4.1683 19.3594 4.36966 19.276 4.51813 19.1275C4.66659 18.979 4.75 18.7777 4.75 18.5677C4.75 18.3577 4.66659 18.1564 4.51813 18.0079C4.36966 17.8594 4.1683 17.776 3.95833 17.776H3.16667Z' fill='#745EF9')
                    path(d='M0.791667 6.69336C1.00163 6.69336 1.20299 6.77677 1.35146 6.92523C1.49993 7.0737 1.58333 7.27506 1.58333 7.48503V12.235C1.58333 12.445 1.49993 12.6464 1.35146 12.7948C1.20299 12.9433 1.00163 13.0267 0.791667 13.0267C0.581704 13.0267 0.38034 12.9433 0.231874 12.7948C0.0834077 12.6464 0 12.445 0 12.235V7.48503C0 7.27506 0.0834077 7.0737 0.231874 6.92523C0.38034 6.77677 0.581704 6.69336 0.791667 6.69336Z' fill='#745EF9')
                    path(d='M7.12467 0.359375C6.91471 0.359375 6.71335 0.442783 6.56488 0.591249C6.41642 0.739715 6.33301 0.941079 6.33301 1.15104C6.33301 1.361 6.41642 1.56237 6.56488 1.71083C6.71335 1.8593 6.91471 1.94271 7.12467 1.94271H10.2913C10.5013 1.94271 10.7027 1.8593 10.8511 1.71083C10.9996 1.56237 11.083 1.361 11.083 1.15104C11.083 0.941079 10.9996 0.739715 10.8511 0.591249C10.7027 0.442783 10.5013 0.359375 10.2913 0.359375H7.12467Z' fill='#745EF9')
                    path(d='M6.33301 18.5671C6.33301 18.3571 6.41642 18.1557 6.56488 18.0073C6.71335 17.8588 6.91471 17.7754 7.12467 17.7754H10.2913C10.5013 17.7754 10.7027 17.8588 10.8511 18.0073C10.9996 18.1557 11.083 18.3571 11.083 18.5671C11.083 18.777 10.9996 18.9784 10.8511 19.1269C10.7027 19.2753 10.5013 19.3587 10.2913 19.3587H7.12467C6.91471 19.3587 6.71335 19.2753 6.56488 19.1269C6.41642 18.9784 6.33301 18.777 6.33301 18.5671Z' fill='#745EF9')
                    path(d='M15.8337 7.48438V0.359375H13.4587C13.2487 0.359375 13.0473 0.442783 12.8989 0.591249C12.7504 0.739715 12.667 0.941079 12.667 1.15104V18.5677C12.667 18.7777 12.7504 18.979 12.8989 19.1275C13.0473 19.276 13.2487 19.3594 13.4587 19.3594H22.167C23.0068 19.3594 23.8123 19.0257 24.4062 18.4319C25 17.838 25.3337 17.0326 25.3337 16.1927V9.85938H18.2087C17.5788 9.85938 16.9747 9.60915 16.5293 9.16375C16.0839 8.71836 15.8337 8.11426 15.8337 7.48438Z' fill='#745EF9')
                    path(d='M17.417 7.48629V0.453125C17.8002 0.563958 18.1532 0.769792 18.4398 1.05638L24.6386 7.25513C24.9252 7.54171 25.131 7.89479 25.2402 8.27796H18.2087C17.9987 8.27796 17.7973 8.19455 17.6489 8.04609C17.5004 7.89762 17.417 7.69625 17.417 7.48629Z' fill='#745EF9')

                .box__item__title Agreements and documents
                .box__item__text Completing the development and execution of agreements and documents

            .box__item
                svg(width='20' height='22' viewbox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M11.7416 0V5.7C11.7416 6.20391 11.9418 6.68718 12.2981 7.0435C12.6544 7.39982 13.1377 7.6 13.6416 7.6H19.3416V18.3667C19.3416 18.8706 19.1414 19.3538 18.7851 19.7102C18.4288 20.0665 17.9455 20.2667 17.4416 20.2667H15.5416V13.9333C15.5416 13.2615 15.2747 12.6171 14.7996 12.142C14.3245 11.6669 13.6802 11.4 13.0083 11.4H11.7416V10.1333C11.7416 9.46145 11.4747 8.81709 10.9996 8.342C10.5245 7.8669 9.88015 7.6 9.20827 7.6H5.40827C4.96349 7.59942 4.52648 7.71654 4.1416 7.93947V1.9C4.1416 1.39609 4.34178 0.912816 4.6981 0.556497C5.05442 0.200178 5.53769 0 6.0416 0H11.7416Z' fill='#745EF9')
                    path(d='M13.0088 0.316406V5.69974C13.0088 5.86771 13.0755 6.0288 13.1943 6.14757C13.3131 6.26635 13.4742 6.33307 13.6421 6.33307H19.0255L13.0088 0.316406Z' fill='#745EF9')
                    path(d='M4.1418 12.6672V10.7672C4.1418 10.2633 4.34197 9.78 4.69829 9.42368C5.05461 9.06737 5.53789 8.86719 6.0418 8.86719H8.57513C9.07904 8.86719 9.56231 9.06737 9.91863 9.42368C10.275 9.78 10.4751 10.2633 10.4751 10.7672V12.6672H12.3751C12.879 12.6672 13.3623 12.8674 13.7186 13.2237C14.075 13.58 14.2751 14.0633 14.2751 14.5672V16.4672H10.4751V15.8339C10.4751 15.6659 10.4084 15.5048 10.2896 15.386C10.1709 15.2672 10.0098 15.2005 9.8418 15.2005C9.67383 15.2005 9.51274 15.2672 9.39396 15.386C9.27519 15.5048 9.20846 15.6659 9.20846 15.8339V16.4672H5.40846V15.8339C5.40846 15.6659 5.34174 15.5048 5.22296 15.386C5.10419 15.2672 4.9431 15.2005 4.77513 15.2005C4.60716 15.2005 4.44607 15.2672 4.3273 15.386C4.20852 15.5048 4.1418 15.6659 4.1418 15.8339V16.4672H0.341797V14.5672C0.341797 14.0633 0.541975 13.58 0.898294 13.2237C1.25461 12.8674 1.73789 12.6672 2.2418 12.6672H4.1418ZM5.40846 10.7672V12.6672H9.20846V10.7672C9.20846 10.5992 9.14174 10.4381 9.02296 10.3194C8.90419 10.2006 8.7431 10.1339 8.57513 10.1339H6.0418C5.87383 10.1339 5.71274 10.2006 5.59396 10.3194C5.47519 10.4381 5.40846 10.5992 5.40846 10.7672Z' fill='#745EF9')
                    path(d='M10.4751 17.7324H14.2751V19.6324C14.2751 20.1363 14.075 20.6196 13.7186 20.9759C13.3623 21.3322 12.879 21.5324 12.3751 21.5324H2.2418C1.73789 21.5324 1.25461 21.3322 0.898294 20.9759C0.541975 20.6196 0.341797 20.1363 0.341797 19.6324V17.7324H4.1418V18.3658C4.1418 18.5337 4.20852 18.6948 4.3273 18.8136C4.44607 18.9324 4.60716 18.9991 4.77513 18.9991C4.9431 18.9991 5.10419 18.9324 5.22296 18.8136C5.34174 18.6948 5.40846 18.5337 5.40846 18.3658V17.7324H9.20846V18.3658C9.20846 18.5337 9.27519 18.6948 9.39396 18.8136C9.51274 18.9324 9.67383 18.9991 9.8418 18.9991C10.0098 18.9991 10.1709 18.9324 10.2896 18.8136C10.4084 18.6948 10.4751 18.5337 10.4751 18.3658V17.7324Z' fill='#745EF9')

                .box__item__title Additional work
                .box__item__text Сhanges in the structure of agreements and texts of contracts and documents, etc.


            .box__item
                svg(width='18' height='21' viewbox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.74805 5.90625V0H5.1543C4.63215 0 4.13139 0.207421 3.76218 0.576634C3.39297 0.945846 3.18555 1.44661 3.18555 1.96875V16.4062C3.18555 16.9284 3.39297 17.4292 3.76218 17.7984C4.13139 18.1676 4.63215 18.375 5.1543 18.375H15.6543C16.1764 18.375 16.6772 18.1676 17.0464 17.7984C17.4156 17.4292 17.623 16.9284 17.623 16.4062V7.875H11.7168C11.1947 7.875 10.6939 7.66758 10.3247 7.29837C9.95547 6.92915 9.74805 6.42839 9.74805 5.90625Z' fill='#745EF9')
                    path(d='M11.0605 5.90625V0.328125L17.2949 6.5625H11.7168C11.5427 6.5625 11.3758 6.49336 11.2528 6.37029C11.1297 6.24722 11.0605 6.0803 11.0605 5.90625Z' fill='#745EF9')
                    path(d='M0.560547 3.9375C0.560547 3.5894 0.698828 3.25556 0.944969 3.00942C1.19111 2.76328 1.52495 2.625 1.87305 2.625V16.4062C1.87305 17.2765 2.21875 18.1111 2.8341 18.7264C3.44946 19.3418 4.28406 19.6875 5.1543 19.6875H14.998C14.998 20.0356 14.8598 20.3694 14.6136 20.6156C14.3675 20.8617 14.0336 21 13.6855 21H5.2173C3.98225 21 2.79779 20.5094 1.92448 19.6361C1.05117 18.7628 0.560547 17.5783 0.560547 16.3432V3.9375Z' fill='#745EF9')

                .box__item__title Drafting of documentation
                .box__item__text Provision of comprehensive and well-structured legal documentation

            .box__item
                svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0)')
                        path(d='M23.1796 9.15568L14.9912 6.96008L13.5579 1.61298C13.438 1.16638 12.9584 0.906777 12.4876 1.03108L2.50396 3.70628C2.03316 3.83168 1.74936 4.29808 1.86926 4.74468L5.42226 18.0008C5.54216 18.4474 6.02066 18.7081 6.49036 18.5805L10.4647 17.5168L9.92346 19.5386C9.80356 19.9852 10.0874 20.4516 10.5582 20.5759L19.4792 22.9673C19.95 23.0938 20.4274 22.8342 20.5484 22.3854L23.8154 10.193C23.9342 9.74638 23.6504 9.27998 23.1796 9.15568ZM3.63806 4.99328L12.2511 2.68768L15.4389 14.5875L6.82586 16.8931L3.63806 4.99328ZM19.0876 21.3085L11.5922 19.2592L12.1818 17.057L16.4729 15.9053C16.9437 15.781 17.2297 15.3146 17.1087 14.868L15.4499 8.67828L21.9916 10.4724L19.0876 21.3085Z' fill='#745EF9' stroke='#745EF9')
                    defs
                        clippath#clip0
                            rect(width='24' height='24' fill='white' transform='translate(0.5 0.359375)')

                .box__item__title Legal services
                .box__item__text Legal services for the company's business activities

            .box__item
                svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M19.5 3.35938H15.32C14.9 2.19938 13.8 1.35938 12.5 1.35938C11.2 1.35938 10.1 2.19938 9.68 3.35938H5.5C4.4 3.35938 3.5 4.25937 3.5 5.35938V19.3594C3.5 20.4594 4.4 21.3594 5.5 21.3594H19.5C20.6 21.3594 21.5 20.4594 21.5 19.3594V5.35938C21.5 4.25937 20.6 3.35938 19.5 3.35938ZM12.5 3.35938C13.05 3.35938 13.5 3.80937 13.5 4.35938C13.5 4.90938 13.05 5.35938 12.5 5.35938C11.95 5.35938 11.5 4.90938 11.5 4.35938C11.5 3.80937 11.95 3.35938 12.5 3.35938ZM14.5 17.3594H7.5V15.3594H14.5V17.3594ZM17.5 13.3594H7.5V11.3594H17.5V13.3594ZM17.5 9.35938H7.5V7.35938H17.5V9.35938Z' fill='#745EF9')

                .box__item__title Companies’ registration
                .box__item__text Assistance in registration and maintenance of international companies

            .box__item
                svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M11.8418 3C6.59521 3 2.3418 7.25341 2.3418 12.5C2.3418 17.7466 6.59521 22 11.8418 22C17.0884 22 21.3418 17.7466 21.3418 12.5C21.3418 7.25341 17.0884 3 11.8418 3ZM15.9596 10.8936C16.0354 10.807 16.0932 10.706 16.1294 10.5967C16.1656 10.4874 16.1796 10.3719 16.1706 10.2571C16.1615 10.1423 16.1296 10.0305 16.0767 9.9282C16.0238 9.82592 15.951 9.73525 15.8625 9.66152C15.774 9.5878 15.6717 9.53251 15.5616 9.49892C15.4514 9.46532 15.3357 9.4541 15.2211 9.4659C15.1066 9.4777 14.9955 9.51229 14.8945 9.56764C14.7935 9.62299 14.7046 9.69797 14.6331 9.78818L10.9194 14.2437L8.99784 12.3212C8.83496 12.1639 8.6168 12.0769 8.39036 12.0788C8.16392 12.0808 7.94731 12.1716 7.78718 12.3317C7.62706 12.4919 7.53623 12.7085 7.53426 12.9349C7.53229 13.1614 7.61934 13.3795 7.77666 13.5424L10.3676 16.1333C10.4524 16.2181 10.554 16.2843 10.6659 16.3277C10.7777 16.3711 10.8974 16.3906 11.0173 16.3852C11.1371 16.3798 11.2545 16.3494 11.362 16.2961C11.4694 16.2427 11.5646 16.1676 11.6414 16.0755L15.9596 10.8936Z' fill='#745EF9')

                .box__item__title KYC Provision
                .box__item__text Legal services for the company's business activities

            .box__item
                svg(width='19' height='18' viewbox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.8418 18C1.8418 18 0.341797 18 0.341797 16.5C0.341797 15 1.8418 10.5 9.3418 10.5C16.8418 10.5 18.3418 15 18.3418 16.5C18.3418 18 16.8418 18 16.8418 18H1.8418ZM9.3418 9C10.5353 9 11.6799 8.52589 12.5238 7.68198C13.3677 6.83807 13.8418 5.69347 13.8418 4.5C13.8418 3.30653 13.3677 2.16193 12.5238 1.31802C11.6799 0.474106 10.5353 0 9.3418 0C8.14832 0 7.00373 0.474106 6.15982 1.31802C5.3159 2.16193 4.8418 3.30653 4.8418 4.5C4.8418 5.69347 5.3159 6.83807 6.15982 7.68198C7.00373 8.52589 8.14832 9 9.3418 9Z' fill='#745EF9')

                .box__item__title Legal services
                .box__item__text Provision of consulting services regarding the KYC compliance procedures

            .box__item
                svg(width='24' height='18' viewbox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M23.3418 17.25C23.3418 17.4489 23.261 17.6397 23.1172 17.7803C22.9735 17.921 22.7785 18 22.5751 18H1.10846C0.905131 18 0.710126 17.921 0.566348 17.7803C0.422571 17.6397 0.341797 17.4489 0.341797 17.25C0.341797 17.0511 0.422571 16.8603 0.566348 16.7197C0.710126 16.579 0.905131 16.5 1.10846 16.5H22.5751C22.7785 16.5 22.9735 16.579 23.1172 16.7197C23.261 16.8603 23.3418 17.0511 23.3418 17.25ZM1.1375 6.95426C1.09202 6.79713 1.10022 6.62977 1.16085 6.47762C1.22148 6.32546 1.33122 6.19683 1.4734 6.11125L11.4401 0.11124C11.5609 0.0385085 11.7 0 11.8418 0C11.9837 0 12.1228 0.0385085 12.2436 0.11124L22.2103 6.11125C22.3524 6.19684 22.4622 6.32548 22.5228 6.47763C22.5834 6.62978 22.5916 6.79712 22.5461 6.95425C22.5007 7.11137 22.404 7.24968 22.2709 7.34818C22.1377 7.44667 21.9754 7.49997 21.8085 7.49998H19.5085V13.5H21.0418C21.2451 13.5 21.4401 13.579 21.5839 13.7197C21.7277 13.8603 21.8085 14.0511 21.8085 14.25C21.8085 14.4489 21.7277 14.6397 21.5839 14.7803C21.4401 14.921 21.2451 15 21.0418 15H2.6418C2.43846 15 2.24346 14.921 2.09968 14.7803C1.9559 14.6397 1.87513 14.4489 1.87513 14.25C1.87513 14.0511 1.9559 13.8603 2.09968 13.7197C2.24346 13.579 2.43846 13.5 2.6418 13.5H4.17513V7.49998H1.87513C1.70821 7.49998 1.54585 7.44669 1.41272 7.34819C1.27958 7.24969 1.18295 7.11138 1.1375 6.95426ZM13.3751 12.75C13.3751 12.9489 13.4559 13.1397 13.5997 13.2803C13.7435 13.421 13.9385 13.5 14.1418 13.5C14.3451 13.5 14.5401 13.421 14.6839 13.2803C14.8277 13.1397 14.9085 12.9489 14.9085 12.75V8.24998C14.9085 8.05106 14.8277 7.8603 14.6839 7.71965C14.5401 7.57899 14.3451 7.49998 14.1418 7.49998C13.9385 7.49998 13.7435 7.57899 13.5997 7.71965C13.4559 7.8603 13.3751 8.05106 13.3751 8.24998V12.75ZM8.77513 12.75C8.77513 12.9489 8.8559 13.1397 8.99968 13.2803C9.14346 13.421 9.33846 13.5 9.5418 13.5C9.74513 13.5 9.94013 13.421 10.0839 13.2803C10.2277 13.1397 10.3085 12.9489 10.3085 12.75V8.24998C10.3085 8.05106 10.2277 7.8603 10.0839 7.71965C9.94013 7.57899 9.74513 7.49998 9.5418 7.49998C9.33846 7.49998 9.14346 7.57899 8.99968 7.71965C8.8559 7.8603 8.77513 8.05106 8.77513 8.24998V12.75Z' fill='#745EF9')

                .box__item__title Opening bank accounts
                .box__item__text Assistance in opening  bank accounts


            .box__item
                svg(width='18' height='19' viewbox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M10.2914 0H4.59141C4.08749 0 3.60422 0.200178 3.2479 0.556497C2.89158 0.912816 2.69141 1.39609 2.69141 1.9V9.5H3.26331L4.49261 6.69465C5.04646 5.4321 6.76311 5.37605 7.43761 6.50085L7.46516 6.54645L7.54591 6.71365L9.18751 10.8119L9.51621 10.3274C9.64022 10.1138 9.8103 9.93044 10.0141 9.79076C10.2178 9.65108 10.4502 9.55856 10.6942 9.51995L10.7455 9.51235L10.9203 9.5H12.8536C13.2727 9.5002 13.6762 9.65867 13.9835 9.94371C14.2907 10.2287 14.479 10.6193 14.5106 11.0372C14.5421 11.4551 14.4147 11.8695 14.1538 12.1975C13.8929 12.5255 13.5177 12.7428 13.1034 12.806L13.054 12.8136L12.8859 12.825H11.8979L10.3161 15.2979C9.68531 16.4265 8.08266 16.416 7.44046 15.3387L7.41386 15.295L7.33501 15.1316L5.94611 11.6612L5.87201 11.8303C5.76091 12.0838 5.58829 12.3056 5.36981 12.4754C5.15133 12.6453 4.89389 12.758 4.62086 12.8032L4.56766 12.8117L4.38431 12.825H2.69141V17.1C2.69141 17.6039 2.89158 18.0872 3.2479 18.4435C3.60422 18.7998 4.08749 19 4.59141 19H15.9914C16.4953 19 16.9786 18.7998 17.3349 18.4435C17.6912 18.0872 17.8914 17.6039 17.8914 17.1V7.6H12.1914C11.6882 7.6 11.2055 7.40034 10.8492 7.04485C10.493 6.68935 10.2924 6.20705 10.2914 5.7038V0Z' fill='#745EF9')
                    path(d='M12.1908 6.17461C12.0648 6.17461 11.944 6.12457 11.8549 6.03549C11.7659 5.94641 11.7158 5.82559 11.7158 5.69961V0.474609L17.4158 6.17461H12.1908Z' fill='#745EF9')
                    path(d='M3.88255 10.4504H1.5028L1.40495 10.457L1.39545 10.4589C1.21842 10.4866 1.0583 10.5799 0.947025 10.7204C0.835744 10.8608 0.781466 11.038 0.795007 11.2167C0.808549 11.3954 0.888915 11.5624 1.02009 11.6845C1.15127 11.8065 1.32362 11.8747 1.5028 11.8754H4.34805L4.4535 11.8678L4.4649 11.8659C4.58203 11.8466 4.69248 11.7983 4.78622 11.7255C4.87995 11.6526 4.95401 11.5575 5.00165 11.4488L5.98395 9.20492L8.2041 14.7482L8.25065 14.8441L8.2554 14.8536C8.32086 14.9616 8.41385 15.0503 8.52485 15.1106C8.63586 15.1708 8.76089 15.2005 8.88713 15.1965C9.01337 15.1926 9.1363 15.1551 9.2433 15.088C9.35031 15.0209 9.43756 14.9266 9.4961 14.8147L11.3762 11.8754H12.8525L12.9503 11.8687L12.9598 11.8668C13.1368 11.8392 13.297 11.7458 13.4082 11.6054C13.5195 11.4649 13.5738 11.2877 13.5602 11.109C13.5467 10.9303 13.4663 10.7633 13.3352 10.6413C13.204 10.5192 13.0316 10.451 12.8525 10.4504H10.9525L10.8518 10.457L10.8423 10.4589C10.7331 10.4761 10.6293 10.5184 10.5393 10.5825C10.4493 10.6467 10.3754 10.7309 10.3236 10.8285L8.9679 12.8235L6.67555 7.09687L6.62805 6.99902L6.62235 6.98952C6.55445 6.87836 6.45737 6.78794 6.34167 6.72809C6.22597 6.66824 6.09607 6.64126 5.96611 6.65007C5.83614 6.65889 5.71108 6.70316 5.60452 6.77808C5.49796 6.853 5.41398 6.95571 5.3617 7.07502L3.88255 10.4504Z' fill='#745EF9')

                .box__item__title Development
                .box__item__text Development of the structure  of agreements and documents



            .box__item
                svg(width='18' height='23' viewbox='0 0 18 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.8418 0.636719C6.58827 0.639377 4.42781 1.53576 2.83433 3.12925C1.24085 4.72273 0.344464 6.88319 0.341806 9.13671C0.339107 10.9783 0.940654 12.7699 2.05417 14.2367C2.05417 14.2367 2.28599 14.5419 2.32385 14.586L8.8418 22.2731L15.3628 14.5821C15.3968 14.5412 15.6294 14.2367 15.6294 14.2367L15.6302 14.2344C16.7432 12.7682 17.3444 10.9774 17.3418 9.13671C17.3391 6.88319 16.4427 4.72273 14.8493 3.12925C13.2558 1.53576 11.0953 0.639377 8.8418 0.636719ZM9.61452 13.0003H8.06907V11.4549H9.61452V13.0003ZM9.61452 9.90944H8.06907V8.36398H9.61452V9.90944ZM12.7054 13.0003H11.16V6.81853H6.52362V13.0003H4.97817V6.81853C4.97857 6.40878 5.14153 6.01592 5.43127 5.72618C5.72101 5.43644 6.11386 5.27349 6.52362 5.27308H11.16C11.5697 5.27349 11.9626 5.43644 12.2523 5.72618C12.5421 6.01592 12.705 6.40878 12.7054 6.81853V13.0003Z' fill='#745EF9')

                .box__item__title Company's activities
                .box__item__text Legal services for the company's business activities


            .box__item
                svg(width='24' height='16' viewbox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M18.8855 6.04C18.5636 4.33772 17.6853 2.80486 16.4007 1.70325C15.116 0.601633 13.5046 -0.000392242 11.8418 1.91737e-07C9.07221 1.91737e-07 6.6668 1.64 5.46888 4.04C4.06035 4.19883 2.75776 4.89521 1.81139 5.99532C0.865019 7.09543 0.341632 8.52168 0.341797 10C0.341797 13.31 2.91971 16 6.0918 16H18.5501C21.1951 16 23.3418 13.76 23.3418 11C23.3418 8.36 21.3772 6.22 18.8855 6.04ZM9.92513 13L6.57096 9.5L7.92221 8.09L9.92513 10.17L14.8893 5L16.2405 6.41L9.92513 13Z' fill='#745EF9')

                .box__item__title Obtaining licenses
                .box__item__text Support services in obtaining licenses of various types