section.why_longan
    .container
        h2.title Why Longan Group?
        .subtitle Our experts will provide your business with full-suite legal and accounting solutions. We combine deep industry experience and expertise to build legal and accounting solutions that will make your organization future-ready for scale and new technologies.

        .box
            .box__item
                .box__item__title 24/5 support

            .box__item
                .box__item__title The most appropriate software for your business

            .box__item
                .box__item__title Save time and money for accounting and legal services

            .box__item
                .box__item__title High qualified people from FinTech sphere

            .box__item
                .box__item__title Automatic report due to your requirements

            .box__item
                .box__item__title Advising in all business aspects
