extends template/main

block variables
    - var title = 'main'
    - var pageClass = 'main'

block content
    include modules/section/main-section
    include modules/section/solutions-section
    include modules/section/step_by_step-section
    include modules/section/why_longan-section
    include modules/section/get_in_touch-section