header.header
    .container.header__inner
        include ../blocks/logo-block
        include ../blocks/menu-block


        //Burger-Icon
        //.b-container
        .b-menu
            .b-bun.b-bun--top
            .b-bun.b-bun--mid
            .b-bun.b-bun--bottom

