.menu.b-nav
    li.menu__item
        a(href="/").menu__link.js-menu.b-link Solutions
    li.menu__item
        a(href="/legal.html").menu__link.b-link Legal
    li.menu__item
        a(href="/accounting.html").menu__link.b-link Accounting
    li.menu__item
        a(href="#touch").menu__link.b-link Get in Touch
    li.menu__item
        a(href="/contacts.html").menu__link.b-link Contacts
