.advantages
    .container
        .advantages__items
            .advantages__item
                .advantages__icon
                    +icon('icon1', 'icon')
                .advantages__title Your Ideas
                    br
                    | are Safe
            .advantages__item
                .advantages__icon
                    +icon('icon2', 'icon')
                .advantages__title We Understand
                    br
                    | Business Needs
            .advantages__item
                .advantages__icon
                    +icon('icon3', 'icon')
                .advantages__title Quality & Security
                    br
                    | Adherence
            .advantages__item
                .advantages__icon
                    +icon('icon4', 'icon')
                .advantages__title Highly Creative
                    br
                    | & Motivated Teams
            .advantages__item
                .advantages__icon
                    +icon('icon5', 'icon')
                .advantages__title First Time Right
                    br
                    | Process
            .advantages__item
                .advantages__icon
                    +icon('icon6', 'icon')
                .advantages__title Result-Driven
                    br
                    | Approach
            .advantages__item
                .advantages__icon
                    +icon('icon7', 'icon')
                .advantages__title Innovation
                    br
                    | is Guaranteed
            .advantages__item
                .advantages__icon
                    +icon('icon8', 'icon')
                .advantages__title Co-Development
                    br
                    | Teams
            .advantages__item
                .advantages__icon
                    +icon('icon9', 'icon')
                .advantages__title DevOps
                    br
                    | Enablement
            .advantages__item
                .advantages__icon
                    +icon('icon10', 'icon')
                .advantages__title In-Depth Domain
                    br
                    | Knowledge
            .advantages__item
                .advantages__icon
                    +icon('icon11', 'icon')
                .advantages__title Non-Disclosure
                    br
                    | Agreement
            .advantages__item
                .advantages__icon
                    +icon('icon12', 'icon')
                .advantages__title Integrity &
                    br
                    | Transparency
        a(href="#formCallback").btn-active.js-popup Contact us
