.first-screen
    .container
        .first-screen__title.title Custom Development
        .first-screen__text.text Custom outsourse developement is the best way to organise a technical part of work in your company and save a lot of money.
        a(href="backend.html").btn-passive More info
        .first-screen__items
            .first-screen__item
                .first-screen__item-title Backend Development
                .first-screen__item-text Our back-end developers possess all the hard and soft skills to join your teams and create value-added digital products.
                a(href="backend.html").first-screen__item-btn.btn-passive Learn More
            .first-screen__item
                .first-screen__item-title Databases
                .first-screen__item-text With remote management, you can provide IT support 24 hours a day.
                a(href="databases.html").first-screen__item-btn.btn-passive Learn More
            .first-screen__item
                .first-screen__item-title Technical Support
                .first-screen__item-text We use only cutting-edge technology to provide consistent and reliable technical support.
                a(href="support.html").first-screen__item-btn.btn-passive Learn More