.support
    .container
        .title Technical Support 24/7
        .text We has a strong professional background in providing remote technical support services to companies all around the world. Our tech specialists work with companies across different industries helping them deliver excellent customer experience.
        .advantages__items
            .advantages__item
                .advantages__icon
                    +icon('icon13', 'icon')
                .advantages__title Addressing issues
                    br
                    | promptly
            .advantages__item
                .advantages__icon
                    +icon('icon14', 'icon')
                .advantages__title Enhancing user
                    br
                    | experience
            .advantages__item
                .advantages__icon
                    +icon('icon15', 'icon')
                .advantages__title Reducing customer
                    br
                    | downtime
            .advantages__item
                .advantages__icon
                    +icon('icon16', 'icon')
                .advantages__title Cutting down
                    br
                    | expenses
        .btns
            a(href="#formCallback").btn-active.js-popup Contact us
            a(href="support.html").btn-passive More info