extends ../../template/main

block variables
    - var title = 'databases-page'
    - var pageClass = 'databases-page'

block content
    include modules/blocks/form-screen-database
    include modules/blocks/list
    include modules/blocks/we-work
    include modules/blocks/questions