extends ../../template/main

block variables
    - var title = 'support-page'
    - var pageClass = 'support-page'

block content
    include modules/blocks/form-screen-support
    include modules/blocks/support-info
    include modules/blocks/questions