.backend__items
    .backend__item
        .backend__icon
            img(src="images/main-page/backend1.png")
        .backend__info
            .backend__title C ++
            .backend__text C++ was designed with an orientation toward system programming and embedded, resource-constrained software and large systems, with performance, efficiency, and flexibility of use as its design highlights.
    .backend__item
        .backend__icon
            img(src="images/main-page/backend2.png")
        .backend__info
            .backend__title NodeJS
            .backend__text Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that executes JavaScript code outside a web browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser.
    .backend__item
        .backend__icon
            img(src="images/main-page/backend3.png")
        .backend__info
            .backend__title Golang
            .backend__text Go is a statically typed, compiled programming language designed at Google by Robert Griesemer, Rob Pike, and Ken Thompson. Go is syntactically similar to C, but with memory safety, garbage collection, structural typing, and CSP-style concurrency. The language is often referred to as Golang because of its domain name, golang.org, but the proper name is Go.