.backend-info
    .title Our team are well-versed in building the back-end
        br
        | for a variety of applications:
    .backend-info__item
        .backend-info__icon
            +icon('icon12', 'icon')
        .backend-info__text E-commerce platforms and marketplaces with high-traffic capabilities allowing to process large
            br
            | volumes of data in real-time
    .backend-info__item
        .backend-info__icon
            +icon('icon12', 'icon')
        .backend-info__text Enterprise solutions (ERP, CRM, BPM etc.) addressing all our clients’ business challenges, irrespective of
            br
            | company size or industry
    .backend-info__item
        .backend-info__icon
            +icon('icon12', 'icon')
        .backend-info__text Custom Mobile, Web and Embedded digital products
    .backend-info__item
        .backend-info__icon
            +icon('icon12', 'icon')
        .backend-info__text EdTech, FinTech, IoT, M2M solutions leveraging the power of Artificial Intelligence, Big Data and
            br
            | Machine Learning algorithms
    .backend-info__bottom As a Cloud service provider, Pentalog can also help you to set up your Back-end as a Service. This is a new way of thinking the back-office of your web or mobile applications in a secure and scalable way.