.backend__items
    .backend__item
        .backend__icon
            img(src="images/main-page/database1.png")
        .backend__info
            .backend__title MySQL
            .backend__text MySQL is free and open-source software under the terms of the GNU General Public License, and is also available under a variety of proprietary licenses. MySQL was owned and sponsored by the Swedish company MySQL AB, which was bought by Sun Microsystems.
    .backend__item
        .backend__icon
            img(src="images/main-page/database2.png")
        .backend__info
            .backend__title PostgreSQL
            .backend__text PostgreSQL also known as Postgres, is a free and open-source relational database management system (RDBMS) emphasizing extensibility and SQL compliance. It was originally named POSTGRES, referring to its origins as a successor to the Ingres database developed at the University of California, Berkeley.
    .backend__item
        .backend__icon
            img(src="images/main-page/database3.png")
        .backend__info
            .backend__title TimescaleDB
            .backend__text TimescaleDB is an open-source database designed to make SQL scalable for time-series data. It is engineered up from PostgreSQL and packaged as a PostgreSQL extension, providing automatic partitioning across time and space (partitioning key), as well as full SQL support.