.form-screen.contacts.container
    .form-screen__left
        .title Get in Touch
        .text But Brooke Chaffin and Catherine Connors are looking to change that with the introduction.
        form.form-screen__form
            .form-screen__row
                .form-screen__label Name
                .form-screen__input
                    input(type="text")
            .form-screen__row
                .form-screen__label Email
                .form-screen__input
                    input(type="text")
            .form-screen__row.textarea-row
                .form-screen__label Message
                .form-screen__input
                    textarea(rows="8")
            .form-screen__row
                button(type="submit").form-screen__btn.btn-active Send
    .form-screen__right
        .map
            img(src="images/map.png")