.form-screen.container
    .form-screen__left
        .title Backend Development
        .text Back-end development focuses on the server-side of programming. Unlike front-end development where the focus is on user experience, delivering a bullet-proof back-end for a web or mobile app requires developers to concentrate their efforts on efficiency, security, speed, scalable architecture and data management.
        .text Our outsourced teams of Back-End Developers rely on Agile methodologies, Lean principles and DevOps practices to successfully deliver optimal solutions fulfilling all your strategic objectives and time-to-market challenges.
    .form-screen__right
        form.form-screen__form
            .form-screen__row
                .form-screen__label Name
                .form-screen__input
                    input(type="text")
            .form-screen__row
                .form-screen__label Email
                .form-screen__input
                    input(type="text")
            .form-screen__row
                .form-screen__label Message
                .form-screen__input
                    textarea(rows="8")
            .form-screen__row
                button(type="submit").form-screen__btn.btn-active Send

