.form-screen.container
    .form-screen__left
        .title Database Management
        .text With remote management, you can provide IT support 24 hours a day, seven days a week, 365 days a year--no sick days, no vacations, no interruption.
        .text Outsourcing is by no means a new idea, but outsourced database and application management have become more prominent in almost every type of industry. For the most part, that has to do with how today’s technology has broadened the possibilities and capabilities of remote management, making it much more flexible.
    .form-screen__right
        form.form-screen__form
            .form-screen__row
                .form-screen__label Name
                .form-screen__input
                    input(type="text")
            .form-screen__row
                .form-screen__label Email
                .form-screen__input
                    input(type="text")
            .form-screen__row
                .form-screen__label Message
                .form-screen__input
                    textarea(rows="8")
            .form-screen__row
                button(type="submit").form-screen__btn.btn-active Send

