.form-screen.container
    .form-screen__left
        .title 24/7 Technical Support
        .text We has a strong professional background in providing remote technical support services to companies all around the world. Our tech specialists work with companies across different industries helping them deliver excellent customer experience.
        .text We use only cutting-edge technology to provide consistent and reliable technical support. Being one of the best technical support companies, we hire only qualified specialists who are experienced enough to deliver powerful first contact solutions to your customers.
    .form-screen__right
        form.form-screen__form
            .form-screen__row
                .form-screen__label Name
                .form-screen__input
                    input(type="text")
            .form-screen__row
                .form-screen__label Email
                .form-screen__input
                    input(type="text")
            .form-screen__row.textarea-row
                .form-screen__label Message
                .form-screen__input
                    textarea(rows="8")
            .form-screen__row
                button(type="submit").form-screen__btn.btn-active Send

