.support__info.container
    .title 24/7 Technical Support Company:
        br
        | Explore Our Expertise
    .text When it comes to Level 1 technical support, our agents are here to provide companies worldwide with effective solutions right away. If you choose our team, your customers will get omnichannel assistance in fixing issues that arise while using electronic products and services including mobile devices, computers, and SaaS products. Here is what we offer:
    .advantages__items
        .advantages__item
            .advantages__icon
                +icon('icon17', 'icon')
            .advantages__title Tech Helpdesk
        .advantages__item
            .advantages__icon
                +icon('icon18', 'icon')
            .advantages__title WGeneral product
                br
                | information
        .advantages__item
            .advantages__icon
                +icon('icon19', 'icon')
            .advantages__title Assistance with
                br
                | navigation
        .advantages__item
            .advantages__icon
                +icon('icon20', 'icon')
            .advantages__title Help with
                br
                | configuration
        .advantages__item
            .advantages__icon
                +icon('icon21', 'icon')
            .advantages__title Diagnostics and
                br
                | troubleshooting
        .advantages__item
            .advantages__icon
                +icon('icon22', 'icon')
            .advantages__title Installation, setup,
                br
                | and repair
    .title.margin Let our saas tech agents turn your first-time
        br
        | customers to regular ones
    .text Time-wasted glitches in technical support can cost you time and money. But what’s more, it can reduce customer loyalty which is the most critical aspect of any business. Providing high-quality tech support is significant if you want to build lasting relationships with your customers. And we know how to help your company gain loyalty as our friendly agents use only advanced tools to keep everything up and running.